.bbHCode {
    font-style: normal;
    font-size: 11px;
    color: #000000;
}

.bbHCode ul {
    list-style: none;
}

.bbHCode li {
    padding: 4px;
}

.bbHCode.bbLink {
    text-decoration: none;
}

.bbHCode.bbLink:hover {
    text-decoration: underline;
}

.bbHCode.bbCenter {
    position: relative;
    display: block;
    margin: auto auto;
}

.bbHCode.bbTextB {
    font-weight: bold;
}

.bbHCode.bbTextU {
    text-decoration: underline;
}

.bbHCode.bbTextI {
    font-style: italic;
}

.bbHCode.bbTextS {
    font-style: line-through;
}

.bbHCode.bbImg {
    height: auto;
    width: auto;
}

.bbHCode.bbImg.bbVA {
	vertical-align: baseline;
}

.bbHCode.bbTooltip {
	position: relative;
	display: inline-block;
}

.bbHCode.bbRule {
    border: 1px solid #cccccc;
}

.bbHCode.bbFrame {
    border: 1px solid #cccccc;
    position: relative;
    display: block;
}

.bbHCode.bbFrame .bbHeader {
    position: relative;
    display: block;
    height: 24px;
    line-height: 22px;
    border: 0;
    background: #fafafa url('./images/spoiler.png') no-repeat right center;
    background-size: 16px 16px;
    background-position: calc(100% - 5px) center;
}

.bbHCode.bbFrame .bbHeader img {
    vertical-align: middle;
    max-height: 24px;
    max-width: 24px;
    padding-left: 3px;
    cursor: pointer;
}

.bbHCode.bbFrame .bbHeader span {
    line-height: 22px;
    font-weight: bold;
}

.bbHCode.bbFrame .bbContent {
    position: relative;
    display: none;
    visibility: hidden;
    padding: 8px;
    border: 0;
    border-top: 1px solid #cccccc;
}

.bbHCode.bbFrame .bbContent .bbQ1 {
    position: absolute;
    display: block !important;
    clear: both;
    visibility: visible;
    border: 0;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background: url(./images/bg_quote_header.png) no-repeat center center;
}

.bbHCode.bbFrame .bbContent .bbQ2 {
    position: absolute;
    display: block !important;
    clear: both;
    visibility: visible;
    margin-top: 12px;
    border: 0;
    bottom: -6px;
    right: -5px;
    height: 16px;
    width: 16px;
    background: url(./images/bg_quote_content.png) no-repeat center center;
}

.bbHCode.bbFrame .bbContent .bbText {
    display: block;
    visibility: visible;
    position: relative;
    border: 0;
    padding: 14px 12px 4px 18px;
}

.bbHCode .bbFade {
    height: 1;
    Filter: Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, FinishX=100%);
}

.bbHCode .bbWarn {
    display: inline-block;
    border-right: 1px solid #cccccc;
    width: 22px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ce0700;
}

.bbHCode.bbFrame .bbModUserText {
    position: relative;
    display: inline-block;
    border: 0;
    margin: 0;
    top: 8px;
    padding: 0 8px 0px 8px;
    vertical-align: top;
}